input.login {
    /* max-width: 450px; */
    width: 100%;
    /* width: 450px;  */
    /*width: 414px;    450px - (18px * 2) 
    height: 19px;    45px - (13px * 2) */
    height: 45px;   
    font-size: 16px;
    padding: 0;
    margin-bottom: 10px;
    border: 1px solid #CECECE;
    padding: 13px 18px 13px 18px;
}

input.login:focus {
    outline: none;
    border: 1px solid #232323;
    box-shadow: 0 1 0 0 #232323;
    background-color: transparent;
}
